.contact-container {
    background: url('/img/sofa.png') no-repeat center;
    background-size: cover;
    padding: 60px 40px;
    color: white;
    position: relative;
    z-index: 1;
  }
  
  .contact-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
  }
  
  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px;
    max-width: 1100px;
    margin: auto;
    position: relative;
    z-index: 2;
  }
  
  .contact-left {
    max-width: 450px;
    /* margin-top: 60px; */
    margin-bottom: 30px;
  }
  
  .contact-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    z-index: 10;
  }
  
  .contact-info h4,
  .social-section h4 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #eaeaea;
    font-size: 24px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
  }
  
  .contact-item img {
    width: 18px;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 5px;

  }
  
  .social-icons img {
    width: 34px;
    height: 34px;
  }
  
  .contact-form-card {
    background: white;
    color: black;
    border-radius: 8px;
    padding: 30px;
    max-width: 400px;
    width: 482px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    /* margin-top: 20px; */
  }
  
  .form-title {
    /* margin-bottom: 20px; */
    font-weight: bold;
    text-align: center;
    font-size: 24px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    background: #eaeaea;
    border-radius: 6px;
  }
  
  form textarea {
    resize: vertical;
    height: 100px;
  }
  
  form button {
    background-color: #006b84;
    color: white;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  form button:hover {
    background-color: #004d5f;
  }
  
  .contact-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    color: white;
  }

span {
    color: #eaeaea;
    font-size: 16px;
}

@media (max-width: 468px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-form-card {
    width: 100%;
  }
  .contact-left {
    width: 100%;
  }

}