.agent-section {
  background-color: #D7F7FF;
  padding: 40px 20px;
  margin-top: 650px;
}

.back-button {
    margin-left: -10px;
}

.title-contact {
    background-color: white;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 80px;
}

.agent-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.agent-subtitle {
  font-size: 16px;
  color: #555;
  /* margin-bottom: 32px; */
}

.agent-box {
  background-color: white;
  text-align: center;
  width: 50%;
  margin: 50px auto;
  padding: 24px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  border: 1.5px dashed #01707f; /* opsional */
}

.agent-barcode {
  width: 475px;
  height: auto;
  margin: 0 auto 16px;
  display: block;
}

.agent-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.agent-contact {
  font-size: 15px;
  color: #01707f;
  margin-bottom: 16px;
}

.agent-note {
  font-size: 14px;
  color: #666;
}
