.more-gallery-container {
  padding: 20px 40px;
  background-color: white;
  margin-top: 550px;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.gallery-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 120px;
  color: black;
}

.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
  color: black;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  max-width: 800px;
  width: 100%;
  height: auto;
}

.carousel-button {
  position: absolute;
  border: none;
  font-size: 40px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border-radius: 50%;
  background-color: transparent;
}

.carousel-button.left {
  left: 40px;
}

.carousel-button.right {
  right: 40px;
}

.thumbnail-row {
  display: flex;
  /* justify-content: center; */
  padding: 20px;
  gap: 15px;
  background-color: #CFF1FF; /* Warna biru muda */
  margin-left: 155px;
  margin-bottom: 100px;
}

.thumbnail {
  max-width: 180px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
  border: 3px solid transparent;
}

.thumbnail.active {
  border-color: #00AEEF; /* Biru border aktif */
}
